<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">


	<bean id="ShiftValidateFunction" name="ShiftValidateFunction"
		class="il.co.shiftsgenerator.engine.services.validation.ShiftConfigurationValidateFunction">
		<property name="dateFormat" ref="dateFormat"></property>
	</bean>

	<bean name="dateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="dd/MM/YYYY hh:mm"></constructor-arg>
	</bean>


	<bean id="EmployeeShiftFitConfigurationPredicate"
		name="EmployeeShiftFitConfigurationPredicate"
		class="il.co.shiftsgenerator.engine.services.validation.EmployeeShiftFitConfigurationPredicate">
		<property name="shiftKeyIsNullMessageTemplate" value="For employee %s the shift %s has null shift key"></property>
		<property name="shiftKeyDoseNotExistMessageTemplate" value="Shift Key: %s dose not exists in configuration For employee"></property>
		<property name="employeeRegisteredToUnauthorizedShiftMessageTemplate" value="For employee %s the shift role %s dose not fit in shift configuration"></property>
		<property name="shiftConfigurationToShiftKeyTransformer" ref="shiftConfigurationToShiftKeyTransformer"></property>
	</bean>
	
	<bean class="il.co.shiftsgenerator.engine.services.validation.ShiftConfigurationToShiftKeyTransformer" name="shiftConfigurationToShiftKeyTransformer"></bean>
</beans>
