<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">


	<bean id="ShiftValidateFunction" name="ShiftValidateFunction"
		class="il.co.shiftsgenerator.engine.services.validation.ShiftValidateFunction">
		<property name="dateFormat" ref="dateFormat"></property>
	</bean>

	<bean name="dateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="dd/MM/YYYY hh:mm"></constructor-arg>
	</bean>


</beans>
